name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/flake-checker-action@main
      - uses: Swatinem/rust-cache@v2
        with:
          cache-directories: "server"

      - name: Build server
        run: nix develop --command bash -c "cd server && cargo build"

      - name: Run tests
        run: nix develop --command bash -c "cd server && cargo test -- --test-threads=1"

      - name: Run tests with output
        run: nix develop --command bash -c "cd server && cargo test -- --nocapture --test-threads=1"
        if: failure()
